body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 300px;
}

.pop-btn,
.focus_btn {
  text-decoration: none;
  color: red;
}

.pop-layer,
.emphasis-layer {
  display: flex;
  position: absolute;
  border: 3px solid #3572b5;
  border-radius: 10px;
  left: 50%;
  top: 18%;
  padding: 15px;
  transform: translate(-50%, -50%);
  background-color: white;
}

.emphasis-layer {
  top: 50%;
  left: 50%;
}

.bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.disappear {
  display: none;
  opacity: 0;
}

.ctxt {
  font-size: 20px;
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.close-btn .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.14);
  outline: none;
}


.close-btn .btn:hover {
  background-color: black;
  color: white;
}

@keyframes faidIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.showPrint {
  display: block;
  animation: faidIn 1s linear;
}